.user-info {
  margin-left: 10px;
  color: white;

  .signed-in-user-container {

    .usernamelink {
      height: fit-content;

      .username {
        display: inline-block;
      }

      @media screen and (max-width: 400px) {

        .username {
          display: none;
        }
      }
    }
  }
}